#breadcrumbs ul {
    list-style: none;
    padding: 10px;
    background-color: #eee;
}

#breadcrumbs ul li {
    display: inline;
    margin-right: 5px;
}

.product-title {
    text-align: center;
    color: pink;
}

.product-image {
    display: block;
    max-width: 100%;
    margin: auto;
}

.size-options {
    margin-bottom: 10px;
}

.quantity {
    margin-bottom: 10px;
}

.size-button {
    background-color: rgb(65, 127, 193);
    color: white;
    border: none;
    padding: 5px 10px;
    margin-right: 5px;
    cursor: pointer;
}

.quantity select {
    padding: 5px;
}

.price {
    font-size: 1.2em;
    font-weight: bold;
}

.add-to-bag {
    background-color: rgb(24, 180, 24);
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}
